<div class="login-container mt-5 shadow p-3 mb-5 bg-white rounded">
  <div class="logo text-center mt-3">
    <img src="/images/ロゴ.png" width="60" height="" alt="ロゴ">
  </div> 
  <div class="form-container d-flex justify-content-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group mt-5">
        <%= f.email_field :email, size: 25, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>
      <div class="form-group mt-2">
        <%= f.password_field :password, size: 25, autocomplete: "current-password", placeholder: "パスワード" %>
      </div>
      <% if devise_mapping.rememberable? %>
      <!--↑これはどういう意味？-->
        <div class="form-group mt-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "次回から自動的にログインする" %>
        </div>
      <% end %>
      
      <div class="form-group">
        <%= f.submit "ログイン", class: "mt-3 btn submit-button w-100"%>
      </div>
      <div class="link text-center">
        <div class="form-group">
          <%= link_to "はじめての方はこちら", new_family_path %>
        </div>
        <div class="form-group mt-1">
          <%= link_to "パスワードをお忘れの場合", new_user_password_path %>
        </div>
      </div>
    <% end %>
  </div>
</div>