<header>
  <nav class="header-container navbar navbar-expand navbar-light bg-light p-3">
    <a class="navbar-brand" href="/">
      <img src="/images/ロゴ.png" width="80" height="" alt="ロゴ">
    </a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--  <span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <% if user_signed_in? %>
    <% @user = current_user %>
    <% @family = @user.family %>
     <!--ログイン後-->
      <div class="collapse navbar-collapse">
        <div class="btn-group">
          <div data-bs-toggle="dropdown" type="button">
            <%= image_tag "/user_images/#{@user.user_icon.images}", class:"icon" %>
          </div>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "編集", edit_user_registration_path(@user), class:"dropdown-item small" %>
            </li>
            <li>
              <%= link_to "ログアウト", logout_path, class:"dropdown-item small" %>
            </li>
          </ul>
        </div>
        <% if @cat = Cat.find_by(family_id: @user.family_id) %>
          
          <div class="btn-group">
            <div data-bs-toggle="dropdown" type="button">
              <% if @cat.image.attached? %>
                <%= image_tag @cat.image, class:"cats-icon" %>
              <% else %>
                <%= image_tag "/images/仮4.jpg", class:"cats-icon" %>
              <% end %>
            </div>
            <ul class="dropdown-menu cats-list p-2">
              <% @family.cats.each do |cat| %>
              <li>
                <% if cat.image.attached? %>
                  <%= image_tag cat.image, class:"cats-icon-list m-1" %><%= link_to "#{cat.name}", home_cat_path(cat), onclick:"catChange()" %>
                <% else %>
                  <%= image_tag "/images/仮4.jpg", class:"cats-icon-list m-1" %><%= link_to "#{cat.name}", home_cat_path(cat), onclick:"catChange()" %>
                <% end %>
              </li>
              <% end %>
              <li>
                <%= link_to new_cat_path, class: "button dropdown-item small p-1" do %>
                  猫の登録
                <% end %>
              </li>
            </ul>
          </div>
        <% else %>
          <div class="btn-group">
            <div data-bs-toggle="dropdown" type="button">
              <%= image_tag "/images/仮4.jpg", class:"cats-icon" %>
            </div>
            <ul class="dropdown-menu cats-list p-2">
              <li>
                <%= link_to new_cat_path, class: "button dropdown-item small p-1" do %>
                  猫の登録
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav mr-5 mt-2 header-menus">
          <% if Cat.find_by(family_id: @user.family_id) %>
            <li class="nav-item">
              <%= link_to home_cat_path(@cat), class: "nav-link" do %>
              <label>HOME</label>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to cat_record_path(@cat,Date.today), class: "nav-link" do %>
              <label>RECORD</label>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "#", class: "nav-link" do %>
              <label>HOSPITAL</label>
              <% end %>
            </li>
            
            <li class="nav-item">
              <%= link_to cat_path(@cat), class: "nav-link" do %>
              <label>myCAT</label>
              <% end %>
            </li>
            
          <% end %>
        </ul>
        <!--↓ドロップボタン-->
        <div class="btn-group">
          <button type="button" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item small" type="button">Family一覧</a>
            </li>
            <li>
              <a class="dropdown-item small" type="button">お問い合わせ</a>
            </li>
            
          </ul>
        </div>
      </div>
    <% else %>
      <!--ログイン前-->
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav mr-5 mt-2">
          <li class="nav-item">
            <%= link_to login_path, class: "nav-link" do %>
              <label>ログイン</label>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </nav>
  
  <script>
    function catChange(){
      let cat = document.getElementById('cat')
      cat.innerHTML = ""
      
    }
  </script>

</header>
