<header>
  <nav class="header-container navbar navbar-expand navbar-light bg-light p-3">
    <a class="navbar-brand" href="/">
      <img src="/images/ロゴ.png" width="80" height="" alt="ロゴ">
    </a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--  <span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    
    <!--ログイン後-->
    <% if user_signed_in? %> 
      <% @user = current_user %>
      <% @family = @user.family %>
        <div class="collapse navbar-collapse user-icon">
          <div class="btn-group">
            <div data-bs-toggle="dropdown" type="button">
              <%= image_tag "/user_images/#{@user.user_icon.images}", class:"icon" %>
            </div>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <%= link_to "ユーザー情報", show_path(@user), class:"dropdown-item small", type:"button" %>
              </li>
              <li>
                <%= link_to "ログアウト", logout_path, class:"dropdown-item small", type:"button" %>
              </li>
            </ul>
          </div>
          <p class="user-guide mb-1">
            ログインユーザー
            <br>
            <span class="user-name"><%= @user.nickname %></span>
          </p>
        </div>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav mr-5 mt-2 header-menus">
              <% if Cat.find_by(family_id: @user.family_id) %>
                <% if @cat = Cat.find_by(family_id: @user.family_id) %>
                  <li class="nav-item">
                    <div class="btn-group">
                        <div data-bs-toggle="dropdown" type="button">
                          <%= image_tag "/images/y0507.png", class:"home-icon mb-1" %>
                        </div>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <% @family.cats.each do |cat| %>
                          <li>
                            <%= link_to "#{cat.name}", home_cat_path(cat), class:"dropdown-item small", type:"button" %>
                          </li>
                          <% end %>
                        </ul>
                    </div>
                  </li>
                <% end %> 
              <% end %>
            </ul>  
            <div class="btn-group">
              <div data-bs-toggle="dropdown" type="button">
                <%= image_tag "/images/b0487.png", class:"home-icon mb-1" %>
              </div>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <%= link_to "猫の登録", new_cat_path, class:"dropdown-item small", type:"button" %>
                </li>
                <li>
                  <%= link_to "招待する", new_invitation_path, class:"dropdown-item small", type:"button" %>
                </li>
                <li>
                  <%= link_to "メンバー", "#", class:"dropdown-item small", type:"button" %>
                </li>
                <li>
                  <%= link_to "お問い合わせ", "#", class:"dropdown-item small", type:"button" %>
                </li>
              </ul>
            </div>
        </div>
        
    <!--ログイン前-->    
    <% else %>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav mr-5 mt-2">
          <li class="nav-item">
            <%= link_to login_path, class: "nav-link" do %>
              <label>ログイン</label>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </nav>
  
  <!--<script>-->
  <!--  function catChange(){-->
  <!--    let cat = document.getElementById('cat')-->
  <!--    cat.innerHTML = ""-->
      
  <!--  }-->
  <!--</script>-->

</header>
